.settings {
    position: absolute;
    transition: all 0.2s ease;
}

.settings .block {
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    font-size: 16px;
}

.settings .block .enable {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
}

.settings .block .title {
    font-size: 14px;
    color: #6b8498;
    padding: 4px;
}

.settings .block #app {
    border-bottom: 1px #6b8498 solid;
    background: #798eae;
    color: #ffffff;
    padding: 10px;
}

.settings .block .enable span {
    width: 80px;
    padding: 0 10px;
    font-size: 12px;
}

.settings .block .enable .lever {
    flex-direction: row;
    width: 40px;
    height: 16px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5px #000000, inset 0 0 2px #000000;
}

.settings .block .enable .lever .slider {
    width: 24px;
    height: 16px;
    font-size: 10px;
    color: white;
    background: #35414b;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    user-select: none;
}
